.header_product{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    border: 1px solid;
}

.container{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    background: lime;
    display: grid;  
    grid-template-columns: repeat(auto-fill,285px);
    grid-template-rows: auto repeat(4,446px);
    gap: 40px 32px;
    justify-content: center;
    grid-auto-rows: 448px;
}

@media(max-width:650px){
    .container{
        grid-template-columns: repeat(auto-fill,min,ax(285px,1fr));
    }
}