* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    border: none;
    outline: none;
    /* background-color: azure; */
}

:root {
    --WarmBlack: #3A3845;
    --BeigePeach: #F7CCAC;
    --LightBrown: #C69B7B;
    --DarkBrown: #826F66;
    --blue1: #595667;
    --blue2: #807F86;
    --blue3: #A6A6A8;
    --gar1: #CAC9CF;
    --gar2: #E5E5E5;
    --gar3: #F7F6F5;
    --white: #FFFFFF;
    --fontGaramond: Garamond;
}

.container {
    max-width: 1110px;
    min-width: 430px;
    width: 95%;
    margin: 0 auto
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

@font-face {
    font-family: Garamond;
    src: url(../fonts/Garamond.ttf);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 82px;
    background: var(--white);
    min-width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav_link {
    color: var(--WarmBlack);
    line-height: 22px;
    position: relative;
}

.nav_link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: var(--WarmBlack);
    right: 0;
    bottom: -5px;
    transition: .5s;
}

.nav_link:hover::after{
    width: 100%;
    left: 0;
}

.header_icons {
    display: flex;
    align-items: center;
    gap: 24px;
}


#menu {
    display: none;
}

.burger_menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    display: none;
}

.burger_line {
    width: 100%;
    height: 3px;
    background: var(--WarmBlack);
}

.footer {
    background: var(--WarmBlack);
    min-width: 430px;
    min-height: 484px;
    margin-top: 900px;
}

.footer_container {
    display: grid;
    grid-template-columns: 42% 58%;
    grid-template-rows: minmax(318px, auto);
}

.footer_left {
    border-right: 2px solid #CAC9CF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_item {
    width: 303px;
    padding-top: 48px;
}

.footer_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: var(--gar2);
    margin-bottom: 32px;
    margin-top: 24px;
}

.footer_btn {
    padding: 16px 18px;
    color: var(--gar2);
    font-weight: 600;
    letter-spacing: 8%;
    line-height: 18px;
    font-size: 12px;
    border: 2px solid;
    background: none;
    transition: .3s;
}

.footer_btn:hover {
    scale: 1.1;
}

.footer_right {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 70px;
}

.footer_item2 {
    display: flex;
    gap: 72px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer_list_title {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    line-height: 22px;
    letter-spacing: 6%;
    margin-bottom: 8px;
}

.footer_link {
    color: var(--gar2);
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #CAC9CF;
    padding: 32px 0;
    gap: 5px;
}

.footer_text2 {
    font-weight: 400;
    line-height: 22px;
    color: #A6A6A8;
    border-right: 2px solid #CAC9CF;
    padding-right: 10px;
}

.footer_text3 {
    font-weight: 400;
    line-height: 22px;
    color: #A6A6A8;
    border-right: 2px solid #CAC9CF;
    padding-right: 10px;
}

.footer_link2 {
    color: #807F86;
    line-height: 22px;
    font-weight: 400;
    border-right: 2px solid #CAC9CF;
    padding-right: 10px;
    text-decoration: underline;
}

.footer_link3 {
    color: #807F86;
    line-height: 22px;
    font-weight: 400;
    text-decoration: underline;
    padding-left: 10px;
}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* .laguagesSelect { 
    border-radius: 40px;
    width: 50px;
    height: 50px;
} */

@media(max-width:970px) {
    .footer_item2 {
        gap: 48px;
    }
}

@media(max-width:820px) {
    .footer_container {
        grid-template-columns: 1fr;
    }

    .footer_left {
        border-right: none;
        border-bottom: 2px solid #CAC9CF;
        justify-content: start;
    }

    .footer_right {
        justify-content: start;
    }

    .footer_item2 {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 48px;
        padding-inline: 20px;
    }
}


@media(max-width:730px) {
    .nav {
        position: absolute;
        left: 0;
        top: 82px;
        width: 100%;
        padding: 30px;
        min-width: 430px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .5s;
        backdrop-filter: blur(10px);
        z-index: 111;
    }

    .nav_link {
        color: var(--WarmBlack);
        font-size: 18px;
        font-weight: 500;
    }

    .nav_list {
        flex-direction: column;
        align-items: center;
    }

    .burger_menu {
        display: flex;
        order: -1;
    }

    .header_icon:nth-child(1),
    .header_icon:nth-child(2),
    .header_icon:nth-child(3) {
        display: none;
    }

    #menu:checked~.nav {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    #menu:checked~.burger_menu .burger_line:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
    }

    #menu:checked~.burger_menu .burger_line:nth-child(2) {
        transform: scale(0);
        position: absolute;
    }

    #menu:checked~.burger_menu .burger_line:nth-child(3) {
        transform: rotate(-45deg);
        position: absolute;
    }

    .footer_bottom {
        flex-direction: column;
    }

    .footer_text2,
    .footer_text3 {
        border-right: none;
    }
}

@media(max-width:430px) {
    .container {
        padding-inline: 20px;
    }
}

